/* General styles for Navbar */
.custom-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 3px;
}

/* Toggle switch styling */
.toggle-switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 25px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: rgb(45, 45, 45);
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #3f3f3f;
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #ffffff;
}

/* Dark theme styles */
.custom-navbar.dark-theme {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.custom-navbar.dark-theme .custom-button {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

/* Light theme styles */
.custom-navbar.light-theme {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.custom-navbar.light-theme .custom-button {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}